<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Girişi</title>
    <link rel="stylesheet" href="/css/adminLogin.css">
</head>
<body>
<div class="login-container">
    <h2>Admin Girişi</h2>

    <form action="/admin/login" method="POST">
        <!-- Email Girişi -->
        <div class="input-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
        </div>

        <!-- Şifre Girişi -->
        <div class="input-group">
            <label for="password">Şifre</label>
            <input type="password" id="password" name="password" required>
        </div>

        <!-- Giriş Butonu -->
        <button type="submit">Giriş Yap</button>
    </form>
</div>
</body>
</html>