<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kullanıcı Yönetimi</title>
    <link rel="stylesheet" th:href="@{/css/manage-users.css}">
</head>
<body>
<div class="container">
    <h1 class="title">Kullanıcı Yönetimi</h1>
    <table class="user-table">
        <thead>
        <tr>
            <th>Kullanıcı ID</th>
            <th>Ad Soyad</th>
            <th>Email</th>
            <th>Rol</th>
            <th>İşlemler</th>
        </tr>
        </thead>
        <tbody>
        <!-- Dinamik olarak kullanıcıları doldur -->
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.userRole}"></td>
            <td>
                <a th:href="@{/users/edit/{id}(id=${user.id})}" class="edit-btn">Düzenle</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
