<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ödeme Başarılı</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/payment-success.css}" />
</head>
<body>
<div class="success-container">
    <h1>Ödeme Başarılı!</h1>
    <p>Rezervasyonunuz başarıyla tamamlandı. Bizi tercih ettiğiniz için teşekkür ederiz!</p>
    <a href="/" class="home-button">Ana Sayfaya Dön</a>
</div>
</body>
</html>
